---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb
  namespace: flux-system
spec:
  interval: 1m0s
  path: ./cluster/n8n-cluster/metallb
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
